<section class="phx-hero">
  <%= if @current_user do %>
  <p>Welcome, <%= @current_user["name"] %>!</p>
  <%= link to: Routes.auth_path(@conn, :logout, "google") do %>
  Log out
  <% end %>
  <% else %>
  <%= link to: Routes.auth_path(@conn, :index, "google") do %>
  Sign in with Google
  <% end %>
  <% end %>
</section>
