<h1>Home</h1>

<section>
  <%= if @current_user do %>
  <p>Welcome, <%= @current_user["name"] %>!</p>
  <%= link to: Routes.auth_path(@socket, :logout, "google") do %>
  Log out
  <% end %>
  <% else %>
  <%= link to: Routes.auth_path(@socket, :index, "google") do %>
  Sign in with Google
  <% end %>
  <% end %>

  <h2>Classes</h2>
  <%= for class <- @instructor.classes do %>
    <%= live_redirect class.name, to: Routes.class_show_path(@socket, :show, class) %>
  <% end %>
</section>
