/* This file is for your main application CSS */

/* Variables */
:root {
  --guest-instructor-bg:  #ddd;
  --primary-text: #000;
  --link-text: #2650C8;
  --instructor-text: #000;
  --primary-bg: #fff;
  --secondary-bg: #f7b500;
  --primary-fg: #0f355e;
  --secondary-fg: #e7175f;
  --border-odd-stripe: #bbb;
  --border-med-stripe: #999;
  --border-even-stripe: #666;
  --zebra-stripe-bg: linear-gradient(
    to right,
    var(--primary-bg),
    2em,
    #eee,
    calc(100% - 2em),
    var(--primary-bg));

}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #fff;
    --link-text: #3670B3;
    --primary-bg: #10253a;
    --primary-fg: #0aa3c2;
    --border-odd-stripe: #888;
    --border-med-stripe: #999;
    --border-even-stripe: #888;
    --zebra-stripe-bg: linear-gradient(
      to right,
      var(--primary-bg),
      8em,
      #406080,
      calc(100% - 8em),
      var(--primary-bg));
  }
}

/* Fonts */
@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
}

/* General Styles */

body {
  font-family: Open Sans, Helvetica, sans-serif;
  color: var(--primary-text);
  background: var(--primary-bg);
}

a {
  color: var(--link-text)
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Helvetica, sans-serif;
  text-transform: capitalize;
}

h2 {
  color: var(--primary-fg);
}

h3 {
  color: var(--secondary-fg);
}

/* Nav */

nav {
  font-family: Barlow, Helvetica, sans-serif;
}

/* Schedule */

.schedule #week-controls {
  text-align: center;
}

.schedule #timezone-info {

}

.schedule table {
  min-width: 100%;
  border-collapse: collapse;
}

.schedule table tr a {
  text-decoration: none;
  color: inherit;
}

.schedule table tr a:hover {
  text-decoration: underline;
}

.schedule table .date {
  border-bottom: 3px solid var(--secondary-fg);
}

.schedule table .date h4 {
  margin: 2em 0 0;
}

.schedule table h5 {
  margin: 0.5em 0;
  font-size: 16px;
}

.schedule table .rows td {
  border: 1px solid var(--border-odd-stripe);
}

.schedule table .rows tr:nth-child(even) {
  background: var(--zebra-stripe-bg);
}

.schedule table .rows tr td {
  border-bottom: 1px solid var(--border-med-stripe);
}

.schedule table .rows tr:nth-child(even) td {
  border: 1px solid var(--border-even-stripe);
}

/* Remove line between start and end */
.schedule table .rows tr td:nth-child(1) {
  border-right: none;
}

.schedule table .rows tr td:nth-child(2) {
  border-left: none;
}

/* Remove lines from edges */
.schedule table .rows tr td:first-child {
  border-left: none;
}

.schedule table .rows tr td:last-child {
  border-right: none;
}

.schedule table tr th {
  text-align: center;
}

.schedule table tr .title {
  min-width: 500px;
  padding: 4px 7px 3px;
}

/* "Start" column */
.schedule table tr > *:nth-child(1) {
  min-width: 4em;
}

.schedule table tr td:nth-child(1) {
  text-align: right;
}

.schedule table tr td:nth-child(1)::after {
  content: " —";
  font-weight: bold;
  position: relative;
  top: -1px;
  right: -1px;
}

/* "End" column */
.schedule table tr *:nth-child(2) {
  min-width: 2.75em;
  text-align: left;
  padding-left: 4px;
}

/* Claims */
.schedule table .rows tr td.claims {
  position: relative;
  min-width: 12em;
  padding: 4px 0 3px;
  border-left: none;
  border-right: none;
  max-width: min-content;
}

.schedule .expand-claims {
  display: inline-block;
}

.schedule .expand-claims button {
  display: block;
  font-size: 0px;
  position: absolute;
  top: 3px;
  right: 4px;
}

.schedule .expand-claims button::after {
  content: "+";
  font-size: 18px;
  display: inline-block;
  margin: -3px 0 -1px 1px;
}

.schedule .collapse-claims button {
  display: block;
  font-size: 0px;
  position: absolute;
  top: 3px;
  right: 4px;
}

.schedule .collapse-claims button::after {
  content: "×";
  font-size: 18px;
  display: inline-block;
  margin: -3px 0 -1px 1px;
}

/* Instructor Names */

.instructor-name {
  color: var(--instructor-text);
  padding: 3px 8px 2px;
  border-radius: 3px;
  font-size: 14px;
  margin-top: -1px;
  margin-left: 3px;
}

.instructor-name.guest-instructor {
  background-color: var(--guest-instructor-bg);
}
